<pre>web_support/echo</pre>

<div>
This service returns your request's HTTP headers and body. Comes in handy for
unit-testing code that puts together Web service requests.
</div>

<div>
Use the following path in your unit tests:
<br />
<%= link_to h(url_for(:format => :xml, :only_path => false)),
            :format => :xml, :only_path => false %>
</div>
